@using Microsoft.AspNetCore.Identity
@using WebApp.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
<li class="nav-item">
    @*<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>*@
    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="userinformation" title="Manage">Hello @UserManager.GetUserName(User)!</a>

</li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>

    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register"  asp-area="" asp-controller="user" asp-action="userregister">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login"  asp-area="" asp-controller="user" asp-action="userlogin">Login</a>
    </li>
}
